
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Uspešno ste obavili kupovinu!</h1>
    <p class="lead"><strong>Uplatite iznos na naš Bankovni Račun 854-555-444-55</p>
    <hr>
    
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Nastavite Kupovinu</a>
    </p>
</div>

