@model  Online_Shop_Salon.Models.SlideShow

@{
    ViewBag.Title = "Slike Za Slajder";
    Layout = "~/Views/Shared/_Admin_Leyout.cshtml";
}

<style>
    th {
        text-align: center !important;
    }
</style>
<p>
    @Html.ActionLink(" Dodaj Sliku", "Create", null, new { @class = "btn  btn-success fa fa-plus fa-sm" })
</p>

<table id="tableSlider" class="uk-table uk-table-hover uk-table-striped" style="width:100%; text-align:center;">
    <thead>
        <tr>
           
            <th>Photo</th>
            <th width="5%">Status</th>
            <th width="20%">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.SliderShows)
        {

            <tr>
                <td><img class="zoom" style="width:50px;height:25px;" src="@item.Name" /></td>
                <td>
                    @if (item.Status == true)
                    {
                        <div class="col-sm-9 text-secondary">
                            <div class="badge badge-success badge-success-alt">Online</div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-9 text-secondary">
                            <div class="badge badge-danger badge-danger-alt">Offline</div>
                        </div>
                    }
                </td>
                <td>
                    @*@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-info fa fa-pencil fa-lg" })*@ 

                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger fa fa-trash fa-lg", @onclick = "return confirm('Da li zelite da izbrisete Banner?'); " })
                </td>

            </tr>

        }
    </tbody>

</table>

<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.uikit.min.css">

@section scripts{
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/dataTables.uikit.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableSlider').DataTable({
                'paging': true,
                'langthChange': false,
                'columnDefs': [{ orderable: false, targets: [2] }],
                'order': [[0, "desc"]]
            });
        });


    </script>

}

